#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background-color: blue; }
  @media (max-width: 991px) {
    #sidebar {
      width: 100%;
      bottom: none;
      height: 40vh; } }

#main {
  padding-top: 2em;
  padding-left: 30%; }
  @media (max-width: 991px) {
    #main {
      padding-top: 40vh;
      padding-left: 0; } }

.dropzone {
  background-color: #17a2b8;
  color: white; }
  .dropzone:hover {
    cursor: pointer; }
